.ProductBloc {

  &-sides {
    display: flex;
    gap: var(--spacing-bloc-large);



    @media only screen and (max-width: 900px) {
      flex-direction: column;

      .ProductBloc-left { 
        display: block;
        margin: 0 auto;
        max-width: 500px;
      }
    }

    > div {
      flex: 1;
    }
  }

  &-left {
    position: relative;
  }

  &-badge {
    position: absolute;
    bottom: 0%;
    right: 8%;
    z-index: 2;
    aspect-ratio: 1/1;
    font-family: 'Faktum-Bold';
    color: var(--color-ui-lavender);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: calc(var(--spacing-bloc-small) + 10px);

    .Percent {
      font-size: 40px;
      position: relative;
      display: block;
      top: 50%;
      transform: translateY(-50%) rotate(-10deg);
      display: flex;
      align-items: center;
      gap: 4px;


      span {
        font-size: 20px;
      }
    }

    @media only screen and (max-width: 550px) {
      padding: calc(var(--spacing-bloc-small));

      .Percent {
        font-size: 25px;

        span {
          font-size: 15px;
        }
      }
    }

    @supports not (aspect-ratio: 1/1) {
      &::before {
        float: left;
        padding-top: 100%;
        content: "";
      }
    }
  }

  &-visual {
    overflow: hidden;
    position: relative;
    width: 100%;
    aspect-ratio: 1/1.214;
    @supports not (aspect-ratio: 1/1.214) {
      &::before {
        float: left;
        padding-top: 121.4%;
        content: "";
      }
    }
    background-color: var(--color-grey-light);

    &.Load {
      img {
        opacity: 1;
      }
    }

    &::after {
      content: "";
      position: absolute;
      border: solid white 2px;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      top: -1px;
      left: -1px;
      z-index: 2;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transition: opacity 1s ease;
    }

    span {
      z-index: 2;
      position: absolute;
      background-size: cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  &-title {
    font-family: 'Faktum-Bold';
    font-size: 60px;

    @media only screen and (max-width: 550px) {
      font-size: 30px;
      line-height: 40px;
    }
  }

  &-filter {
    margin: var(--spacing-bloc-small) 0;
    display: flex;
    gap: var(--spacing-bloc-small);
  }

  &-sector {
    text-transform: uppercase;
    font-family: 'Faktum-Bold';
    letter-spacing: 2px;
    font-size: 12px;
    line-height: 17px;
  }

  &-offer {
    text-transform: uppercase;
    font-family: 'Faktum-Bold';
    letter-spacing: 2px;
    font-size: 12px;
    line-height: 17px;
    color: var(--color-grey-dark);
  }

  &-subtitle {
    font-size: 27px;
    line-height: 36px;
    margin: var(--spacing-bloc-standard) 0;
  }

  &-price {
    margin: var(--spacing-bloc-standard) 0;
    font-family: 'Faktum-Bold';
    font-size: 26px;
    line-height: 25px;
    display: flex;
    gap: var(--spacing-bloc-small);
    align-items: center;
    color: var(--color-ui-red);

    &--crossed {
      position: relative;
      color: black;

      &::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
      }
    }

    &--reduction {
      font-family: 'Faktum-Regular';
      padding: var(--spacing-bloc-x-x-small) var(--spacing-bloc-x-small);
      background-color: var(--color-ui-red);
      color: white;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      border-radius: 60px;
    } 
  }

  &-formats {
    margin-top: var(--spacing-bloc-standard);
    padding-top: var(--spacing-bloc-standard);
    border-top: solid 1px black;
    display: flex;
    font-family: 'Faktum-Medium';
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    gap:  var(--spacing-bloc-small);
    flex-wrap: wrap;
  }

  &-tags {
    display: flex;
    gap: var(--spacing-bloc-x-small);
    flex-wrap: wrap;
  }

  &-tag {
    font-family: 'Faktum-Medium';
    // white-space: nowrap;
    font-size: 18px;
    line-height: 25px;
    padding: var(--spacing-bloc-x-small) var(--spacing-bloc-small);
    border: solid 3px var(--color-grey-light);
    border-radius: 16px;
  }


  &-description {
    margin: var(--spacing-bloc-large) 0;

    &-title {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1.5px;
      text-align: center;
      margin: var(--spacing-bloc-standard) 0;
    }

    &-paragraph {
      font-size: 39px;
      line-height: 51px;
      letter-spacing: -2px;

      @media only screen and (max-width: 650px) {
        font-size: 30px;
        line-height: 40px;
      }

      strong {
        font-family: 'Faktum-Medium';
      }
    }
  }
  
}