.Insurance {
  width: 100%;
  background-color: var(--color-ui-cyan);
  margin-top: var(--spacing-bloc-large);

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-bloc-large);
    padding: var(--spacing-bloc-large) 0;

    li {
      display: flex;
      flex: 1;
      align-items: flex-start;
      gap: var(--spacing-bloc-small);
      min-width: 300px;

      img {
        width: 60px;
      }
    }
  }

  &-texte {
    color: var(--color-ui-purple);
    font-size: 22px;
    line-height: 23px;

    &--title{
      font-family: 'Faktum-Bold';
    }
  }
}